<nav>
    <div class="container">
        <div class="row">
            <div class="col-sm" id="paginationDivPrevious"></div>
            <div class="col-sm" style="text-align: right" id="paginationDivNext"></div>
        </div>
    </div>

</nav>
<script>
    let splitedPathName = window.location.pathname.split("/");
    let hrefs = getAllHrefForAlgo(algoHRef.indexOf(splitedPathName[splitedPathName.length-2]));
    let targetLast = $('#paginationDivPrevious');
    let targetNext = $('#paginationDivNext');
    let lastSave = null;
    let isNext = false;
    for (let i = 0; i < hrefs.length; i++) {
        let paginationButton = $("<a>").addClass("btn btn-link btn-lg").html("<<");
        let link = hrefs[i];
        paginationButton.attr("href", link.attr("href"));
        paginationButton.html(link.html());

        if (link.attr('href') === window.location.pathname) {
            if (lastSave !== null) {
                lastSave.append("  <<");
                targetLast.append(lastSave);
            }
            isNext = true;
        } else if (isNext) {
            isNext = false;
            paginationButton.prepend(">>  ");
            targetNext.append(paginationButton);
        }


        lastSave = paginationButton.clone();
    }
</script>