<script src="/static/js/enlargeImageModal.js"></script>
<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade bd-example-modal-xl" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" target="_blank" id="imagepreviewLink"> <i class="fas fa-external-link-alt"></i></a>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="mx-auto" align="center">
                    <img src="" class="imagepreview" data-dismiss="modal" style="max-width: 100%; height:auto">
                </div>
            </div>
        </div>
    </div>
</div>

