
<div data-ex="exercice">
    {% if include.ex.title %}
        <h3 data-ex="title">{{ include.ex.title }}</h3>
    {% endif %}

    {%  if include.ex.introduction  %}
        <div data-ex="intro">{{ include.ex.introduction }}</div>
    {% endif %}

    {%  if include.ex.question  %}
        <div data-ex="question">{{ include.ex.question }}</div>
    {% endif %}

    {%  if include.ex.answer or include.ex.decisionTreeAnswer  %}
        <div class="card border-primary mb-3">
            <div class="card-header">Réponse</div>
            <div class="card-body text-primary">
                {%  if include.ex.answer %}
                    {% for answer in include.ex.answer  %}
                        {% case answer.kind %}
                            {% when 'selection' %}
                                <label>
                                    {% if answer.text %}{{ answer.text }}{% endif %}
                                    <select {% if answer.id %}
                                                id="{{ answer.id }}"
                                            {% endif %}
                                            class="form-control"{% if answer.correct %} data-answer="{{ answer.correct }}{% endif %}">
                                        <option>---</option>
                                        {% for option in answer.options %}
                                            <option>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                </label>

                            {% when 'text' %}
                                    <label style="width: 100%">
                                        <textarea class="form-control" rows="2"
                                        data-answer="{% for keyword in answer.correctWords %}{{ keyword }},{% endfor %}"></textarea>
                                    </label>
                            {% else %}  {% comment %} Arbitrary answer {% endcomment %}
                                {{ include.ex.answer }}
                        {% endcase %}
                        {% if answer.arbitraryAddOn %}
                            {{ answer.arbitraryAddOn }}
                        {% endif %}
                        <br>
                    {% endfor %}


                {% else if include.ex.decisionTreeAnswer %} <!-- TODO : correct !! -->
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            {% for i in (-1 .. include.ex.categories.size ) %}
                                {% if i == -1 %}
                                    <th scope="col">Feuille</th>
                                {% else if i != include.ex.categories.size %}
                                    <th scope="col">{{ include.ex.categories[i] }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% assign leafNumberMinusOne = include.ex.leafNumber | minus:1 %}
                        {% assign categoriesSizeMinusOne = include.ex.categories.size | minus:1 %}
                        {% for i in (0 .. leafNumberMinusOne ) %} <!-- Nombre de feuilles -->
                            <tr>
                                <th scope="row">{{ i | plus:1}}</th>
                                {% for j in (0 .. categoriesSizeMinusOne ) %} <!-- nombre de catégories/fruits -->
                                    <td>
                                        <div class="input-group">
                                            <input type="number" min="0" max="100" value="0" class="form-control" data-answer={{ include.ex.correctValues[i][j] }}>
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" onclick="checkAnswer(this)" data-attempts="0"><i class="fas fa-play"></i> Vérifier réponse</button>
                <span class="exFeedback"></span>
                <button type="button" class="btn btn-success correctionButton collapse" onclick="showCorrection(this)"><i class="fas fa-puzzle-piece"></i> Afficher la correction</button>
            </div>
        </div>
    {% endif %}


    {%  if include.ex.correction  %}
        {% include correction.html correction=include.ex.correction %}
    {% endif %}

    {%  if include.ex.help  %}
        {% include help.html help=include.ex.help %}
    {% endif %}
</div>