
<!-- Database -->

<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<!--<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>-->
<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-database.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-functions.js"></script>-->

<!-- Comment out (or don't include) services that you don't want to use -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-storage.js"></script> -->

<script>
    var config = {
        apiKey: "AIzaSyDbZnAznbgeP1_bxyn9XNGGL4C9z-ex46k",
        authDomain: "site-memoire.firebaseapp.com",
        databaseURL: "https://site-memoire.firebaseio.com",
        projectId: "site-memoire",
        storageBucket: "site-memoire.appspot.com",
        messagingSenderId: "639582982387"
    };
    firebase.initializeApp(config);
</script>
