a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}
a.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.pop {
    cursor: pointer;
}

.center-thumb {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    /*height: 100%;*/
    /*max-height: 300px;*/
    margin-bottom: 1rem;
}

.onlyTeacher {
    display: none;
}

nav[data-toggle='toc'] {
    top: 42px;
}

/* small screens */
@media (max-width: 768px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav[data-toggle='toc'] {
        margin-bottom: 42px;
        position: static;
    }

    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */

    nav[data-toggle='toc'] .nav .active .nav {
        display: none;
    }
    /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
    /*
    nav[data-toggle='toc'] .nav .nav {
      display: block;
    }
    */
}
