<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
</head>

<body>
{% include nav.html %}

<div class="jumbotron" style="
    background: url('/static/img/KNN.svg');
         /*position: fixed;*/
    width: 100%;
    height: 550px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: soft-light;
    -webkit-background-blend-mode: soft-lightsoft-light;
    ">

</div>

<main role="main" class="container">
    <h1>Méthodes des K plus proches voisins</h1>
    <hr class="my-4">
    <p class="lead">Méthode de classification</p>
    <p>
        A partir d'une entrée <code>x</code> on déterminera sa classe à partir de ses <code>K</code> voisins les plus proches.<br>
        Après cela avec l'information de la classe réelle de l'entrée, nous serons en mesure d'évaluer l'exactitude de notre prédicateur.
    </p>
    <div align="center">
        <a class="btn btn-primary" href="ex-preparatoires" role="button">Exercices préparatoires</a>
        <a class="btn btn-primary" href="blockly-aide" role="button">Consignes et utilisation pour la phase pratique</a>
        <a class="btn btn-primary" href="blockly" role="button">Phase pratique (Blockly)</a>
    </div>
</main>

    <script>
        var jumboHeight = $('.jumbotron').outerHeight();
        function parallax(){
            var scrolled = $(window).scrollTop();
            $('.jumbotron-bg').css('height', (jumboHeight-scrolled) + 'px');
        }
        $(window).scroll(function(e){
            parallax();
        });
    </script>
</body>

</html>