<table class="table table-light table-striped table-bordered table-hover" id="tableExample">
    <thead>
    <tr>
        <th scope="col">Classe</th>
        <th scope="col">Forme</th>
        <th scope="col">Couleur</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row">Banane</td>
        <td>Courbé</td>
        <td>Jaune</td>
    </tr>
    <tr >
        <td scope="row">Pomme</td>
        <td>Ronde</td>
        <td>Rouge</td>
    </tr>
    <tr >
        <td scope="row">Orange</td>
        <td>Ronde</td>
        <td>Orange</td>
    </tr>
    <tr>
        <td scope="row">Citron</td>
        <td>Ronde</td>
        <td>Jaune</td>
    </tr>
    </tbody>
    <caption>Tableau 1 : Exemple de fruits avec différentes caractéristiques (forme et couleur)</caption>
</table>