<p>
    Reprenons le tableau de la <a href="intro">page d'introduction</a> pour ces exercices.<br>
</p>
{% include arbre/ex/fruitTable.html %}

Exemple d'arbre de décision :
<img src="/static/img/arbre/arbreExemple.PNG" class="img-fluid mx-auto d-block pinnable">

Que l'on peut aussi écrire sous la forme d'un tableau :
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/static/img/arbre/arbreExempleEx.png" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Feuille</th>
                    <th scope="col">Banane</th>
                    <th scope="col">Pomme</th>
                    <th scope="col">Orange</th>
                    <th scope="col">Citron</th>
                </tr>
                </thead>
                <tbody>


                <!-- Nombre de feuilles -->
                <tr>
                    <th scope="row">1</th>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="100" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="100">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>

                </tr>
                <!-- Nombre de feuilles -->
                <tr>
                    <th scope="row">2</th>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="100">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="50" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="50" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>

                </tr>
                <!-- Nombre de feuilles -->
                <tr>
                    <th scope="row">3</th>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="100" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="50">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                    <!-- nombre de catégories/fruits -->
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="number" readonly min="0" max="100" value="0" class="form-control" data-answer="50">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>