---
layout: activity
title : Méthode des K plus proches voisins interactif
plotly: true
activityName: KNN
secret :
    name : cookie
    icon : <i class="fas fa-cookie-bite"></i>
extraScripts:
 - /static/js/shared/iris.js
 - /static/js/shared/GraphFunctions.js
 - customJS/KNNFunctions.js
 - /static/js/shared/Blockly/src/blockly_compressed.js
 - /static/js/shared/Blockly/src/blocks_compressed.js
 - /static/js/shared/Blockly/src/javascript_compressed.js

goalDescription : >
    <p>
        Ton score dépend de la qualité de la fonction <code>classify(newIris)</code>.<br>
        Cette fonction prend une fleur en argument <code>newIris</code> et renvoie le nom prédit de cette fleur.
    </p>
    <div class="mx-auto" align="center">
        <img src="/static/img/KNN/classifyFunction.svg" class="img-fluid">
    </div>
    <p>
        Des fleurs de classes connues sont cachées et servent à définir si ta fonction de classification est bonne ou pas.<br>
        Le score augmente chaque fois qu'une de ces fleur est correctement prédite.<br>
    </p>
    <p>
        Pour atteindre les 100%, il faut que tu modifies la fonction de manière qu’elle implémente le concept vu de l’algorithme des K plus proches voisins.<br>
        En plus de cela tu as différents paramètres que tu peux faire varier,
        tu devras trouver la combinaison qui te donnera le meilleure score.
    </p>

goalSteps :
-   title: Bien commencer !
    content: >
        <p>
            Dans la section <code>TODO</code> de la boite à outil de blockly tu trouvera une première implémentation de la fonction que tu dois faire.<br>
            Commence par la prendre et test le résultat de ton prédicteur avec.
        </p>
        <div class="mx-auto" align="center">
            <img src="/static/img/KNN/classifyFunctionDefault.svg" class="img-fluid">
        </div>

        <p>
            Normalement tu devrais avoir un résultat d’environ 33% et chaque fois que tu re-test le prédicteur,
            il donnera un résultat différent.<br>
            C’est normal car le prédicteur que je te donne ici est totalement aléatoire et se contente de donner un nom parmi ceux disponible de manière aléatoire.
            Autrement dit, pour chaque fleur il a 1 chance sur 3 de deviner correctement (d’ou les 33%).
        </p>

        <div class="mt-2 col-md-12">
            <h6 style="float: left; margin-right: 1em;"> Prédiction courante : </h6>
            <div class="progress" style="height: 32px;">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33%;">33.33%</div>
            </div>
        </div>
-   title: implémenter les K plus proches voisins
    content: >
        <p>
            Pour réaliser à bien ce projet il est important que tu comprenne bien comment utiliser les compteurs et à quoi ils vont nous servir.<br><br>
            L'idée générale est d'augmenter le compteur de chacune des K fleurs les plus proches pour ensuite déterminer celle qui est en majorité
        </p>

        <p>
            Voilà différents exemple pour t'entrainer et voir si tes résultats sont correctes :
        </p>
        <small class="text-muted">
            Le code principal de l'algorithme est ici caché ici dans la fonction <code>code...</code>, mait tu n'es bien-entendu pas obliger d'implémenter une fonction pour ça ;)<br>
            Tu peux recopier la partie du code avec <code>afficher...</code> si tu veux avoir le même affichage que moi (en supposant que tes compteurs se mettent correctement à jour)<br>
            Fais bien attention que les paramètres et les coordonnées de la fleur créé changent entre chacun des exemples !
        </small>

        <div class="mx-auto" align="center">
            <img src="/static/img/KNN/stepMainEx1.PNG" class="img-fluid">
            <br>
            <img src="/static/img/KNN/stepMainEx2.PNG" class="img-fluid">
            <br>
            <img src="/static/img/KNN/stepMainEx3.PNG" class="img-fluid">
        </div>
    recommandedBlocks: countersReset countersIncrease countersGetMinMax getK forI
    help: >
        Une structure correcte du code est la suivante :
        <ol>
            <li>Réinitialiser le compteur, chacune des trois fleurs à un compteur qui est mis à 0</li>
            <li>Pour chacune des K fleurs les plus proches, il faudra augmenter leur compteur individuel de 1</li>
            <li>Une fois les K fleurs parcouru, il suffit de choisir celle qui à la valeur de compteur la plus haute et mettre à jour le résultat renvoyé</li>
        </ol>
    correction: >
        <div class="mx-auto" align="center">
            <img src="/static/img/KNN/solutionKNN.svg" class="img-fluid">
        </div>
-   title: Obtenir 100%
    content: >
        <p>
            Une fois que ton implémentation te parait correxte, il ne te reste plus qu’à faire un peu le tri dans ton code !
            Enlève tout les <code>afficher ...</code> qui seront gênant quand tu évaluera ton prédicteur,
            choisis bien tes paramètres (K, Axe x et Axe y) et croise les doigts pour atteindre les 100% !
        </p>
    correction: >
        <div class="mx-auto" align="center">
            <img src="/static/img/KNN/solutionKNN.svg" class="img-fluid">
        </div>
        Avec par exemple comme paramètres :
        <div class="mx-auto" align="center">
            <img src="/static/img/KNN/solParametersKNN.png" class="img-fluid">
        </div>
---


<!-- 2 Rows -->
<div class="row h-100 mt-2 col-md-12">
    <div class="col-sm-4" >

        <div class="accordion" id="accordionControlPanel">
            <!-- Graph panel -->
            <div class="card">
                <div class="card-header" style="padding: 0;" id="headingGraph">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseGraph" aria-expanded="true" aria-controls="collapseGraph">
                            <i class="fas fa-chart-area"></i> <span class="B_graphAndDatas"></span>
                        </button>
                    </h5>

                    <div id="collapseGraph" class="collapse show" aria-labelledby="headingGraph">
                        <div class="card-body">
                            <!-- Graph -->
                            <!--<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>-->
                            <div id="graphContainer" class="container plotly-graph-div" style="padding-left: 0px"></div>

                            <!-- Boutton pour afficher une fenêtre modal avec le tableau utilisé -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#irisDataModal">
                                <i class="fas fa-table"></i> <span class="B_trainingSet"></span>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="deleteAddedMarkers()">
                                <i class="fas fa-eraser"></i> <span class="B_erasedMarkers"></span>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="irisDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Training set :</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table-sm table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Iris</th>
                                                    <th scope="col">Sepal Length</th>
                                                    <th scope="col">Sepal Width</th>
                                                    <th scope="col">Petal Length</th>
                                                    <th scope="col">Petal Width</th>
                                                    <th scope="col">Class</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% assign nbrIris = site.data.iris_data.size | minus : 1 %}
                                                {% for i in (0 .. nbrIris) %}

                                                    {% if site.data.iris_data[i].Class == "Iris-setosa" %}
                                                        {% assign rowClass = "table-primary" %}
                                                        {% elsif site.data.iris_data[i].Class == "Iris-versicolor" %}
                                                        {% assign rowClass = "table-danger" %}
                                                    {% else %}
                                                        {% assign rowClass = "table-success" %}
                                                    {% endif %}
                                                    <tr class="{{ rowClass }}">
                                                        <th scope="row"> {{ i | plus : 1}}</th>
                                                        <td>{{site.data.iris_data[i].Sepal_Length}}</td>
                                                        <td>{{site.data.iris_data[i].Sepal_Width}}</td>
                                                        <td>{{site.data.iris_data[i].Petal_Length}}</td>
                                                        <td>{{site.data.iris_data[i].Petal_Width}}</td>
                                                        <td>{{site.data.iris_data[i].Class}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Axis dropdowns & K -->
                <div class="card">
                    <div class="card-header" style="padding: 0;" id="headingParam">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseParam" aria-expanded="true" aria-controls="collapseParam">
                                <i class="fas fa-sliders-h"></i> <span class="B_parameters"></span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseParam" class="collapse show" aria-labelledby="headingParam">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="axisXChoice" class="col-sm-3 col-form-label"><span class="B_axisX"></span> :</label>
                                <select class="form-control col-sm-9" id="axisXChoice">
                                    <script>
                                        for (let i = 0; i < categories.length; i++) {
                                            var newOpt = document.createElement("option");
                                            if (i === 0) {
                                                newOpt.selected="selected";
                                            }
                                            newOpt.value = categories[i];
                                            newOpt.innerHTML = categoriesFR[i];
                                            $('#axisXChoice').append(newOpt); // TODO : refactor
                                        }
                                    </script>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label for="axisYChoice" class="col-sm-3 col-form-label"><span class="B_axisY"></span> :</label>
                                <select class="form-control col-sm-9" id="axisYChoice">
                                    <script>
                                        for (let i = 0; i < categories.length; i++) {
                                            var newOpt = document.createElement("option");
                                            if (i === 1) {
                                                newOpt.selected="selected";
                                            }
                                            newOpt.value = categories[i];
                                            newOpt.innerHTML = categoriesFR[i];
                                            $('#axisYChoice').append(newOpt); // TODO : refactor
                                        }
                                    </script>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label for="KChoice" class="col-sm-3 col-form-label">K :</label>
                                <input type="number" class="form-control col-sm-9" id="KChoice" value="3" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="blocklyArea" class="col-sm-8">
        <!-- Blockly here -->
        <div id="blocklyDiv" style="width: 100%;height: 100%; min-height: 320px">
        </div>
    </div>
</div>

<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
    {% include KNN/toolbox.xml %}
</xml>

<xml xmlns="http://www.w3.org/1999/xhtml" id="startBlocks" style="display: none;">
    {% include KNN/startBlocks.xml %}
</xml>

<script src="/static/js/shared/Blockly/languageCode.js"></script>
<script src="/static/js/shared/Blockly/BlocklyScripts.js"></script>
<script src="/static/js/shared/plot.js"></script>

<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        let currentTab = e.target;
        if (currentTab.href.endsWith("#nav-activity")) {
            resizePlot();
            if (LanguageCode.workspace.getAllBlocks().length === 0) // Load defaut blocks if it is empty
                Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'), LanguageCode.workspace);
            Blockly.svgResize(LanguageCode.workspace);
        }
    })
</script>
