<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    {% include library_raphael.html %}
    <!-- MDBootstrap Datatables  -->
    <link href="js/MDB/datatables.min.css" rel="stylesheet">
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="js/MDB/datatables.min.js"></script>

    <!-- My Scripts -->
    <script src="js/NNDatas.js"></script>
    <script src="js/NN.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">
</head>

<body>
{% include nav.html %}
<main role="main" class="container" style="max-width: 95%">

    <h1>Réseau neuronnal</h1>

    <div class="row mt-2 col-md-12">
        <div class="col-sm-4">
            <div>
                <canvas id="can" width="280" height="280" style="top:10%;left:10%;border:2px solid; cursor:crosshair"></canvas>
            </div>

            <div class="container">
                <input type="checkbox" style="transform: scale(1.5);" class="form-check-input" id="preprocessing">
                <label class="form-check-label form-label-lg" for="preprocessing"><i class="fas fa-magic"></i> Afficher l'image transformée</label>
                <div style="visibility: hidden"><input type="checkbox" id="scaleStrokeWidth" checked="true"><span style="margin-left:5px;">Scale Stroke Width</span></div>
                <div style="text-align: center">
                <button type="button" class="btn btn-primary btn-lg" id="recognize" onclick="recognize()"><i class="fas fa-search"></i> Reconnaitre</button><br><br>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modifyWeights"><i class="fas fa-edit"></i> Modifier le réseau</button>
                <button type="button" class="btn btn-warning" onclick="erase()"><i class="fas fa-eraser"></i> Effacer</button>
                </div>
                <div id="nnInput"></div>
            </div>

            <!-- Choose arc modal -->
            <div class="modal fade" id="modifyWeights" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modifier le réseau de neuronne</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col" align="center">
                                    Couche 1<br>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(1, $(layer1spinner).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(1, $(layer1spinner).val(), 'wOut')"><i class="fas fa-sign-out-alt"></i></button>
                                    </div>
                                    <div>
                                        <div style="padding-top: 20px; padding-bottom: 15px">
                                            <input id="layer1slider" type="text" data-slider-min="0" data-slider-max="783" data-slider-step="1" data-slider-value="0">
                                        </div>
                                        <div class="input-group">
                                            <input id="layer1spinner" type="number" class="form-control" value="0" min="0" max="783" step="1">
                                            <div class="input-group-append">
                                                <span class="input-group-text">/783</span>
                                            </div>
                                        </div>
                                        <script>
                                            $("#layer1slider").slider({
                                                orientation: 'vertical'
                                            });

                                            // Synchronize the value of the spinner and the one of the slider
                                            $("#layer1slider").on("slide", function(slideEvt) {
                                                $("#layer1spinner").val(slideEvt.value);
                                            });

                                            $("#layer1spinner").on("input", function(spinEvent) {
                                                $("#layer1slider").slider('setValue', $("#layer1spinner").val());
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col" align="center">
                                    <br>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonWeightLevelPressed(1,  $(layer1spinner).val(), $(layer1spinner2).val())"><i class="fas fa-arrows-alt-h"></i></button>
                                </div>
                                <div class="col" align="center">
                                    Couche 2<br>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'wIn')"><i class="fas fa-sign-in-alt"></i></button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'wOut')"><i class="fas fa-sign-out-alt"></i></button>
                                    </div>
                                    <div>
                                        <div style="padding-top: 20px; padding-bottom: 15px">
                                            <input id="layer1slider2" type="text" data-slider-min="0" data-slider-max="199" data-slider-step="1" data-slider-value="0">
                                        </div>
                                        <div class="input-group">
                                            <input id="layer1spinner2" type="number" class="form-control" value="0" min="0" max="199" step="1">
                                            <div class="input-group-append">
                                                <span class="input-group-text">/199</span>
                                            </div>
                                        </div>
                                        <script>
                                            $("#layer1slider2").slider({
                                                orientation: 'vertical'
                                            });

                                            // Synchronize the value of the spinner and the one of the slider
                                            $("#layer1slider2").on("slide", function(slideEvt) {
                                                $("#layer1spinner2").val(slideEvt.value);
                                            });

                                            $("#layer1spinner2").on("input", function(spinEvent) {
                                                $("#layer1slider2").slider('setValue', $("#layer1spinner").val());
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col" align="center">
                                    <br>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonWeightLevelPressed(2,  $(layer1spinner2).val(), $(layer1spinner3).val())"><i class="fas fa-arrows-alt-h"></i></button>
                                </div>
                                <div class="col" align="center">
                                    Couche 3<br>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(3, $(layer1spinner3).val(), 'wIn')"><i class="fas fa-sign-in-alt"></i></button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(3, $(layer1spinner3).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                    </div>
                                    <div>
                                        <div style="padding-top: 20px; padding-bottom: 15px">
                                            <input id="layer1slider3" type="text" data-slider-min="0" data-slider-max="9" data-slider-step="1" data-slider-value="0">
                                        </div>
                                        <div class="input-group">
                                            <input id="layer1spinner3" type="number" class="form-control" value="0" min="0" max="9" step="1">
                                            <div class="input-group-append">
                                                <span class="input-group-text">/9</span>
                                            </div>
                                        </div>
                                        <script>
                                            $("#layer1slider3").slider({
                                                orientation: 'vertical'
                                            });

                                            // Synchronize the value of the spinner and the one of the slider
                                            $("#layer1slider3").on("slide", function(slideEvt) {
                                                $("#layer1spinner3").val(slideEvt.value);
                                            });

                                            $("#layer1spinner3").on("input", function(spinEvent) {
                                                $("#layer1slider3").slider('setValue', $("#layer1spinner").val());
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Outgoing/Ingoing neurons weights modal -->
            <div class="modal fade" id="outWeightModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Poids <span class="inOrOut">de sorties</span> du neurone n°<span class="currentNeuronNumber"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="weightsTable">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Neuron information modal -->
            <div class="modal fade" id="neuronModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Neurone n°<span class="currentNeuronNumber"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Couche : <span class="neuronLayerInfo"></span></p>
                            <div id="neuronModalInformationForSpecificLayers"></div>
                            Valeur : <span id="neuronValueInfo"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Weight information modal -->
            <div class="modal fade" id="weightModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Poids reliant le neuronne <span class="weightN1"></span> et <span class="weightN2"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Couche : <span id="weightLayer"></span></p>
                            <p>Valeur Originale : <span id="weightOrigValue"></span></p>
                            <p>Valeur :
                            <div class="input-group mb-3">
                                <input id="weightValue" type="number" step="0.1" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" onclick="$('#weightValue').val(selectedWeight.weight)"><i class="fas fa-undo"></i> Valeur actuelle</button>
                                    <button class="btn btn-outline-secondary" type="button" onclick="$('#weightValue').val(selectedWeight.defaultWeight)"><i class="fas fa-redo-alt"></i> Restaurer</button>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="selectedWeight.weight = Number($('#weightValue').val());"><i class="fas fa-save"></i> Appliquer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>


            <br><br>

            <div class="container">
                <p>
                    <br><br>
                    {% for i in (0 .. 9) %}
                <h5 style="float: left; margin-right: 1em;">{{ i }} :</h5>
                <div class="progress">
                    <div id="percentBar{{ i }}" class="progress-bar" role="progressbar" style="width: 0%"></div>
                </div>
                <br>
                {% endfor %}
                </p>

                <p class="lead">
                    Reconnu comme : <span id="nnOut"></span>
                </p>
            </div>
        </div>


        <div class="col-sm-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#blockly" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-code"></i> Blockly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#networkRepr" role="tab" aria-controls="profile" aria-selected="false">{{ site.algorithms[2].icon }} Réseau</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Blockly content here -->
                <div class="tab-pane fade show active" id="blockly" role="tabpanel" aria-labelledby="blockly-tab">

                </div>
                <!-- Network representation here -->
                <div class="tab-pane fade" id="networkRepr" role="tabpanel" aria-labelledby="network-tab">
                    <div id="neuralNetworkContainer">
                    </div>
                    <script src="js/NN_representation.js"></script>
                </div>
            </div>

        </div>

    </div>

    <script>
        // Store current information for modals
        let selectedNeuron = new Neuron();
        let selectedWeight = new Weight();

        function setSelectedNeuronInfos(neuronNumber, layer) {
            selectedNeuron.number = neuronNumber;
            selectedNeuron.layer = layer;
        }

        function setSelectedWeightInfos(neuronNumber1, neuronNumber2, layer) {
            let n1 = new Neuron(neuronNumber1, layer);
            let n2 = new Neuron(neuronNumber2, layer+1);
            selectedWeight.n1 = n1;
            selectedWeight.n2 = n2;
            selectedWeight.layer = layer;
        }

        function buttonNeuronLevelPressed(layer, neuronNumber, action) {
            setSelectedNeuronInfos(neuronNumber, layer);
            $('.currentNeuronNumber').text(selectedNeuron.number);

            if (action === "neuron") {
                refreshNeuronWindowInfo();
                $('#neuronModal').modal('toggle');
            }
            else if (action === "wOut" || action === "wIn") {
                refreshWeightOutWindowInfo(action);
                $('#outWeightModal').modal('toggle');
            }
        }


        function buttonWeightLevelPressed(originLayer, neuron1, neuron2) {
            setSelectedWeightInfos(neuron1, neuron2, originLayer);

            refreshWeightWindowInfo();
            $('#weightModal').modal('toggle');
        }

        function refreshWeightWindowInfo() {
            $('.weightN1').text(selectedWeight.n1.number);
            $('.weightN2').text(selectedWeight.n2.number);
            $('#weightLayer').text(selectedWeight.layer);
            $('#weightOrigValue').text(selectedWeight.defaultWeight);
            $('#weightValue').val(selectedWeight.weight);
        }

        function refreshNeuronWindowInfo() {
            $('.neuronLayerInfo').text(selectedNeuron.layer);

            let neuronValue = selectedNeuron.value;
            let valueInfoStr = "vide";
            if (neuronValue !== null) {
                valueInfoStr = neuronValue;
            }
            $('#neuronValueInfo').text(valueInfoStr);
            let informationForSpecialNeuron = $('#neuronModalInformationForSpecificLayers');
            informationForSpecialNeuron.text("");
            if (selectedNeuron.layer === 1) {
                let correspondingPixelX = Math.floor((selectedNeuron.number-1)/28);
                let correspondingPixelY = (selectedNeuron.number-1)%28;
                informationForSpecialNeuron.text(`Pixel de l'image de coordonnée : (${correspondingPixelX}, ${correspondingPixelY})`);
            }
            else if (selectedNeuron.layer === 3) {
                informationForSpecialNeuron.text(`Probabilité du chiffre ${selectedNeuron.number} : ${selectedNeuron.value*100} %`);
            }
        }

        function refreshWeightOutWindowInfo(inOrOut) {

            let modalDiv = $('#weightsTable');
            let tableId = "tableOutWeight";
            modalDiv.empty(); // Free up what was inside

            if (inOrOut === "wIn") {
                $('.inOrOut').text("d'entrée");
            } else if (inOrOut === "wOut") {
                $('.inOrOut').text("de sortie");
            }

            let otherNeuron;
            let currentWeight;
            let currentLayer = selectedNeuron.layer;
            if (inOrOut === "wOut") {
                otherNeuron = new Neuron(0, currentLayer+1);
                currentWeight = new Weight(selectedNeuron, otherNeuron, currentLayer);
            } else if (inOrOut === "wIn") {
                otherNeuron = new Neuron(0, currentLayer-1);
                currentWeight = new Weight(otherNeuron, selectedNeuron, currentLayer-1);
            }

            // Fill up the table
            let table = $('<table>').addClass('table table-striped table-hover');
            table.attr("id", tableId);

            let head = $('<thead>');
            let headTr= $('<tr>');
            let headNames = ["Poids n°", "Valeur actuelle", "Valeur par défaut", "Différence"];
            for (let i = 0; i < headNames.length; i++) {
                headTr.append($('<th>').html(headNames[i]));
            }
            head.append(headTr);
            table.append(head);

            let tableBody = $('<tbody>');
            for(let i=0; i < otherNeuron.layerSize; i++) {
                otherNeuron.number = i;

                let curValue = currentWeight.weight;
                let defaultValue = currentWeight.defaultWeight;
                let row = $('<tr>');

                for (let j = 0; j < headNames.length; j++) {
                    let rowCol = $('<td style="cursor:pointer;">');
                    if (j === 0) {
                        rowCol.html(`${i+1}`)
                    } else if (j === 1) {
                        // We hide a span with the value because the sorting won't happen on the input directly
                        // There is no need to change the span text with the inut one as the sorting does not refresh when resorting
                        rowCol.addClass("weightValue");
                        rowCol.html(`${curValue}`);
                    } else if (j === 2) {
                        rowCol.html(`${defaultValue}`);
                    } else if (j === 3) {
                        rowCol.html(`${defaultValue - curValue}`);
                    }
                    row.append(rowCol);
                }
                row.click(function () {
                    otherNeuron.number = i;
                    selectedWeight = currentWeight;
                    refreshWeightWindowInfo();

                    let weightModal = $('#weightModal');
                    weightModal.modal('toggle');
                    weightModal.one('hide.bs.modal', function() { // Use one to avoid bugs
                        // $(row).find(".weightValue").html(selectedWeight.weight); // No need, next line to it automatically
                        dataTable.cell(i, 1).data(selectedWeight.weight);
                        dataTable.cell(i, 3).data(selectedWeight.defaultWeight - selectedWeight.weight);
                        dataTable.draw();
                    })
                });
                tableBody.append(row);
            }
            table.append(tableBody);
            modalDiv.append(table);

            let dataTable = $(`#${tableId}`).DataTable(
                {
                    "language": {
                        "decimal":        ".", // Important to use . else sorting does not work properly
                        "emptyTable":     "Aucune entrée dans la table",//"No data available in table",
                        "info":           "Montrer _START_ jusqu'à _END_ de _TOTAL_ entrés",//"Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty":      "Montrer 0 jusqu'à 0 de 0 entrés",//"Showing 0 to 0 of 0 entries",
                        "infoFiltered":   "(filtré de _MAX_ entrés totales)",//"(filtered from _MAX_ total entries)",
                        "infoPostFix":    "",
                        "thousands":      ".",
                        "lengthMenu":     "Montrer _MENU_ entrés",//"Show _MENU_ entries",
                        "loadingRecords": "Chargement...",//"Loading...",
                        "processing":     "Traitement...",//"Processing...",
                        "search":         "Chercher :",
                        "zeroRecords":    "Aucun enregistrements correspondants trouvés", //"No matching records found",
                        "paginate": {
                            "first":      "Premier",
                            "last":       "Dernier",
                            "next":       "Prochain",
                            "previous":   "Précédent"
                        },
                        "aria": {
                            "sortAscending":  ": activer pour trier la colonne par ordre croissant",//": activate to sort column ascending",
                            "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                }
            );
            $('.dataTables_length').addClass('bs-select');
        }

    </script>

</main>

</body>
</html>