<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}

    <!-- My Scripts -->
    <script src="js/NN.js"></script>
    <script src="../../NN/js/NN.js"></script> <!--TODO : to remove -->
</head>

<body>
{% include nav.html %}
<main role="main" class="container" style="max-width: 95%">
    <h1>Réseau neuronnal</h1>
    <div class="container" style="float:left;">
        <div>
            <canvas id="can" width="280" height="280" style="top:10%;left:10%;border:2px solid; cursor:crosshair"></canvas>
        </div>
        <div class="container">
            <div style="padding-bottom:5px;"><input type="checkbox" id="preprocessing"><span style="margin-left:5px;">Display Preprocessing</span></div>
            <div style="padding-bottom:5px;"><input type="checkbox" id="scaleStrokeWidth" checked="true"><span style="margin-left:5px;">Scale Stroke Width</span></div>
            <div style="float:left;padding-right:10px;"><input type="button" value="clear" id="clr" size="23" onclick="erase()"></div>
            <div style="float:left;"><input type="button" value="recognize" id="recognize" size="23" onclick="recognize()"></div>
            <div id="nnInput"></div>
        </div>

        <div class="container">
        <p>
        <br><br>
        {% for i in (0 .. 9) %}
            <h5 style="float: left; margin-right: 1em;">{{ i }} :</h5>
            <div class="progress">
                <div id="percentBar{{ i }}" class="progress-bar" role="progressbar" style="width: 0%"></div>
            </div>
            <br>
        {% endfor %}
        </p>

        <p class="lead">
        Reconnu comme : <span id="nnOut"></span>
        </p>
        </div>
    </div>


</main>

</body>
</html>