<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include head.html %}

    {% if page.plotly %}
        <!-- Plotlyjs -->
        <script type="text/javascript" src="/static/js/shared/plotlyjs-bundle.js"></script>
        <script type="text/javascript" src="/static/js/shared/figure.js"></script>
        <script type="text/javascript" src="/static/js/shared/plotInteraction.js"></script>
        <script type="text/javascript" src="customJS/plotInteraction.js"></script>
        <script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>
    {% endif %}

    {% if page.raphael %}
        {% include library_raphael.html %}
    {% endif %}

    <!-- Custom Extra scripts -->
    {% for script in page.extraScripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}

    {% if page.arbitraryAdditions %}
        <!-- Arbitrary additions -->
        {{ page.arbitraryAdditions }}
    {% endif %}

    <script src="/static/js/contentForTeacher.js"></script>

    <!-- Success Message -->
    <link rel="stylesheet" href="/static/css/animationSuccess.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
</head>

<body>
{% include nav.html %}
<main role="main" class="container" style="max-width: 95%">
    <nav>
        <div class="nav nav-tabs" id="nav-tab-activity" role="tablist">
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-objective" role="tab" aria-controls="nav-objective" aria-selected="true"><i class="fas fa-flag-checkered"></i> Objectif</a>
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-gamepad"></i> Activité</a>
            {% if page.examples %}
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-actions" role="tab" aria-controls="nav-example" aria-selected="false"><i class="far fa-lightbulb"></i> Actions Utiles</a>
            {% endif %}
            {% if page.actions %}
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-example" role="tab" aria-controls="nav-example" aria-selected="false"><i class="fas fa-drafting-compass"></i> Exemples</a>
            {% endif %}
            {% if page.goalSteps %}
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-hints" role="tab" aria-controls="nav-hints" aria-selected="false"><i class="fas fa-puzzle-piece"></i> Aide pour résoudre l'activité</a>
            {% endif %}
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false"><i class="fas fa-info"></i> Détails sur l'interface</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent-activity">
        <!-- Objective Tab -->
        <div class="tab-pane fade" id="nav-objective" role="tabpanel" aria-labelledby="nav-objective-tab">
            <h1>Objectif</h1>
            <p>
                L'objectif de cette mission est d'obtenir un score de 100% pour cette l'activité.
                Une fois ce score atteint, le secret de cette activité te seras révélé.
            </p>
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%; height: 32px">100.00%</div>
            <p>
                Le score est mis à jour à chaque fois que tu presse le bouton d'exécution <button type="button" class="btn btn-primary"><i class="fas fa-play"></i></button>.
            </p>

            {% if page.goalDescription %}
                <h2>Le score</h2>
                {{ page.goalDescription }}
            {% endif %}
        </div>
        <!-- Activity Tab -->
        <div class="tab-pane fade show active" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
            <h1>{{ page.title }}</h1>

            <!-- Toolbox -->
            <div id="toolBox"></div>
            <script src="/static/js/shared/ToolBox.js"></script>
            <script>
                let TB = new ToolBox("toolBox");
                TB.setToolBarForExercice("{{ page.activityName }}");
                TB.draw();
            </script>

            <!-- Progress bar of prediction -->
            <div class="mt-2 col-md-12" >
                <h6 style="float: left; margin-right: 1em;"> Précision actuelle : </h6>
                <div id="progressBar"></div>
            </div>
            <script src="/static/js/successBar.js"></script>
            <script>
                let pb = new ProgressBar("progressBar");
                function exerciceSuccess() {
                    $('#exerciceSuccess').modal('toggle');
                    fancyPopIn();
                }
            </script>

            <!-- Main content of the activity -->
            {{ content }}
        </div>

        {% if page.actions %}
            <div class="tab-pane fade" id="nav-actions" role="tabpanel" aria-labelledby="nav-actions-tab">
                <h1>Exemple</h1>
                {% for action in page.actions %}
                    <h3>{{ action.title }}</h3>
                    {{ action.content }}
                {% endfor %}
            </div>
        {% endif %}

        {% if page.examples %}
        <!-- Example Tab -->
        <div class="tab-pane fade" id="nav-example" role="tabpanel" aria-labelledby="nav-example-tab">
            <h1>Exemple</h1>
            {% for example in page.examples %}
                <h3>{{ example.title }}</h3>
                {{ example.content }}
            {% endfor %}
        </div>
        {% endif %}
        {% if page.goalSteps %}
            <!-- Hints/Help for solving the activity Tab -->
            <div class="tab-pane fade" id="nav-hints" role="tabpanel" aria-labelledby="nav-hints-tab">
                <h1>Aide pour résoudre l'activité</h1>
                <p>
                    L’algorithme peut être séparé en plusieurs étapes distinctes qui, petit à petit, te rapprocheront de la solution.
                    Je vais t’aider dans cette partie à atteindre la bonne solution en te donnant les intuitions.<br>
                    Libre à toi de faire autrement si tu le souhaites tant que la prédiction finale est bonne.
                </p>
                {% for step in page.goalSteps %}
                    <h3>Etape {{ forloop.index }} : {{ step.title }}</h3>
                    {{ step.content }}
                    {% if step.recommandedBlocks %}
                        {% include recommendedBlocks.html blocks=step.recommandedBlocks %}
                    {% endif %}
                    {% if step.help %}
                        {% include help.html help=step.help %}
                    {% endif %}
                    {% if step.correction %}
                        <button type="button" class="btn btn-success" onclick="giveCorrection(this)"><i class="fas fa-puzzle-piece"></i> Afficher la correction</button>
                        {% include correction.html correction=step.correction %}
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
        <!-- Details/documentation Tab -->
        <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
            <h1>Détails sur l'interface</h1>
            <h2>Structure de la page</h2>
            {% if page.toolbarActivityName %}
                <h3>Barre d'outil</h3>
                <p>
                    Dans la partie supérieure de l’écran tu as différents boutons te permettant de réaliser certaines actions que nous allons détailler ici.
                </p>
                <div id="toolboxExplanation"></div>
                <script>
                    //let TBEXplanation = new ToolBox();
                    let explanations = [];
                    {% for elem in page.toolboxButtonDescription %}
                    explanations.push("{{ elem }}");
                    {% endfor %}
                    TB.drawExplanation("toolboxExplanation", explanations);
                </script>
            {% endif %}

            {% if page.leftPartName %}
                <h3>{{ page.leftPartName }}</h3>
                {{ page.leftPartDesc }}

                <ul class="list-unstyled">
                    {% for section in page.leftPartSections %}
                        <li class="media">
                            <img src="{{ section.picture }}" class="mr-3 img-fluid" >
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{ section.title }}</h4>
                                {{ section.description }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.rightPartName %}
                <h3>{{ page.rightPartName }}</h3>
                <p>
                    {{ page.rightPartDesc }}
                </p>

                {% if page.rightPartContent %}
                    {{ page.rightPartContent }}
                {% else if page.rightPartContentBlockly %}
                    <h4>Blocs supplémentaires</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Bloc</th>
                            <th scope="col">Explication</th>
                            <th scope="col">Type de retour</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for block in page.rightPartContentBlockly %}
                            <tr>
                                <td>{% include blockly_block.html name=block.blockName %}</td>
                                <td>{{ block.desc }}</td>
                                {% if block.returnType %}
                                    <td>{{ block.returnType }}</td>
                                {% else %}
                                    <td><i>Rien</i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

</main>

<!-- Success Animation when activity is succeded -->
<div class="modal" id="exerciceSuccess" tabindex="-1" role="dialog" aria-labelledby="exerciceSuccessLabel" aria-hidden="true" style="background-color: rgba(0,250,255,0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="congrats">
            <h1 id="sucessMessage">Bravo !
            {% if page.secret %}
                <br>
                Le secret de cet exercice est : {{ page.secret.name }}<br>
                {{ page.secret.icon }}
            {% endif %}
            </h1>
        </div>
    </div>
</div>
<script src="/static/js/animationSuccess.js"></script>
<script>
    function giveCorrection(elem) {
        if (confirm("Souhaite tu vraiment afficher la correction ? ")) {
            let correctionNode = elem.nextElementSibling;
            if (correctionNode.className.includes("onlyTeacher")) {
                correctionNode.style.display = "block";
                $(correctionNode).collapse({
                    toggle: true
                })
            }
            elem.remove();
        }
    }
</script>

{% include enlargeImage.html %}

</body>
</html>