<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
    {% include table_content.html %}
    <script src="{{ site.baseurl }}/static/js/contentForTeacher.js"></script>
</head>

<body data-spy="scroll" data-target="#toc">
{% include nav.html %}
<main role="main" class="container" style="max-width: 95%">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top" style="padding-top:20px"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
            <h1>{{ page.title }}</h1>

            {% if page.youtubeVideo %}
                {% include youtubeVideo.html videoLink=page.youtubeVideo %}
            {% endif %}

            {{ page.introduction }}
            {% if page.previewPicture %}
                <img src="{{ page.previewPicture }}" class="img-fluid center">
            {% endif %}

            {% if page.goalDescription %}
            <h2>Objectif</h2>
                {{ page.goalDescription }}
            {% endif %}

            <h2>Structure de la page</h2>
            {% if page.toolbarActivityName %}
                <h3>Barre d'outil</h3>
                <p>
                    Dans la partie supérieure de l’écran tu as différents boutons te permettant de réaliser certaines actions que nous allons détailler ici.
                </p>
                <div id="toolboxExplanation"></div>
                <script src="{{ site.baseurl }}/static/js/shared/ToolBox.js"></script>
                <script>
                    let TB = new ToolBox();
                    let explanations = [];
                    {% for elem in page.toolboxButtonDescription %}
                        explanations.push("{{ elem }}");
                    {% endfor %}
                    TB.drawExplanation("{{ page.toolbarActivityName }}", "toolboxExplanation", explanations);
                </script>
            {% endif %}

            {% if page.leftPartName %}
                <h3>{{ page.leftPartName }}</h3>
                {{ page.leftPartDesc }}

                    <ul class="list-unstyled">
                        {% for section in page.leftPartSections %}
                        <li class="media">
                            <img src="{{ section.picture }}" class="mr-3 img-fluid" >
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{ section.title }}</h4>
                                {{ section.description }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
            {% endif %}

            {% if page.rightPartName %}
                <h3>{{ page.rightPartName }}</h3>
                <p>
                    {{ page.rightPartDesc }}
                </p>

                {% if page.rightPartContent %}
                    {{ page.rightPartContent }}
                {% else if page.rightPartContentBlockly %}
                    <h4>Blocs supplémentaires</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Bloc</th>
                            <th scope="col">Explication</th>
                            <th scope="col">Type de retour</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for block in page.rightPartContentBlockly %}
                            <tr>
                                <td>{% include blockly_block.html name=block.blockName %}</td>
                                <td>{{ block.desc }}</td>
                                {% if block.returnType %}
                                    <td>{{ block.returnType }}</td>
                                {% else %}
                                    <td><i>Rien</i></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}

            {% if page.examples %}
            <h2>Exemples</h2>
                {% for example in page.examples %}
                    <h3>{{ example.title }}</h3>
                    {{ example.content }}
                {% endfor %}
            {% endif %}

            {% if page.goalSteps %}
                <h2>Aide pour l'objectif</h2>
                <p>
                    L’algorithme peut être séparé en plusieurs étapes distinctes qui, petit à petit, te rapprocheront de la solution.
                    Je vais t’aider dans cette partie à atteindre la bonne solution en te donnant les intuitions.<br>
                    Libre à toi de faire autrement si tu le souhaites tant que la prédiction finale est bonne.
                </p>
                {% for step in page.goalSteps %}
                    <h3>Etape {{ forloop.index }} : {{ step.title }}</h3>
                    {{ step.content }}
                    {% if step.recommandedBlocks %}
                        {% include recommendedBlocks.html blocks=step.recommandedBlocks %}
                    {% endif %}
                    {% if step.help %}
                        {% include help.html help=step.help %}
                    {% endif %}
                    {% if step.correction %}
                        {% include correction.html correction=step.correction %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% include automaticAlgoPagination.html %}
        </div>
    </div>
</main>

{% include enlargeImage.html %}

</body>
</html>