<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
    <title>{{ page.pageTitle }}</title>
</head>

<body>
{% include nav.html %}

<div class="jumbotron" style="
    background: url({{ page.jumbotronPicture }});
         /*position: fixed;*/
    width: 100%;
    height: 550px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: soft-light;
    -webkit-background-blend-mode: soft-lightsoft-light;
    ">
</div>

<main role="main" class="container">
    <h1> {{ page.algoTitle }}</h1>
    <hr class="my-4">
    <p class="lead">{{ page.algoSmallDefinition }}</p>
    <p>
        {{ page.algoShortDescription }}
    </p>
    <div align="center">
        {% for link in page.algoLinksToPages %}
            <a class="btn btn-primary" href={{ link.href }} role="button">{{ link.text }}</a>
        {% endfor %}
    </div>
</main>

    <script>
        var jumboHeight = $('.jumbotron').outerHeight();
        function parallax(){
            var scrolled = $(window).scrollTop();
            $('.jumbotron-bg').css('height', (jumboHeight-scrolled) + 'px');
        }
        $(window).scroll(function(e){
            parallax();
        });
    </script>
</body>

</html>