<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de contact</title>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main role="main" class="container">
        <h1>Formulaire de contact</h1>
        <p>
            Si tu as un message à me transmettre c'est par ici que ça se passe :)
        </p>

        <a target="_blank" role="button" class="btn btn-success btn-lg btn-block" href="https://docs.google.com/forms/d/e/1FAIpQLSfGBmD-Bu0FLMn6_rXwkVJl67iXBT86T4xhsq9_MzO6RBHZCA/viewform?usp=sf_link"><i class="far fa-smile" style="float: left;line-height: 30px;"></i> Donner ton avis sur le cours !</a>
        <br>
        <a target="_blank" role="button" class="btn btn-danger btn-block" href="https://docs.google.com/forms/d/e/1FAIpQLSe4Klt5M8DFI3aAgWWHFbYhwzE-Z5VcO6bQDAiNcQsw--WIAw/viewform?usp=sf_link"><i class="fas fa-bug" style="float: left;line-height: 24px;"></i> Signaler un bug, une erreur, une incohérence...</a>
        <br>
        <a target="_blank" role="button" class="btn btn-secondary btn-block" href="mailto:loansens@gmail.com"><i class="far fa-envelope" style="float: left;line-height: 24px;"></i> M'envoyer un mail</a>

        <!--
        <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSe4Klt5M8DFI3aAgWWHFbYhwzE-Z5VcO6bQDAiNcQsw--WIAw/viewform?embedded=true" width="1000" height="1050" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
        </div>
        -->
    </main>
</body>