<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de contact</title>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main role="main" class="container">
        <h1>Formulaire de contact</h1>
        <p>
            Si t'as un message à me transmettre c'est par ici que ça se passe :)
        </p>
        <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSe4Klt5M8DFI3aAgWWHFbYhwzE-Z5VcO6bQDAiNcQsw--WIAw/viewform?embedded=true" width="1000" height="1050" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
        </div>
    </main>
</body>