<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
    {% include table_content.html %}
    <script src="/static/js/contentForTeacher.js"></script>
    <script src="/static/js/automaticCorrection.js"></script>
</head>


<body data-spy="scroll" data-target="#toc">
{% include nav.html %}

<div class="container">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
            <main role="main" class="container">
                <h1>{{ page.title }}</h1>

                <h2>Introduction</h2>
                {% include {{ page.introduction }} %}

                <h2>Exercices</h2>
                {% for exercice in page.exercices %}
                    {% include exercice.html ex=exercice %}
                {% endfor %}
            </main>
        </div>
    </div>
</div>

</body>
</html>