<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <link rel="stylesheet" href="/static/css/animationSuccess.css">
</head>

<body>

<!--
<div id="congrats">
    <h1 id="title">Bravo !</h1>
</div>
-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="fancyPopIn()">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,250,255,0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="congrats">
            <h1 id="title">Bravo !</h1>
        </div>
    </div>
</div>


<script src="/static/js/animationSuccess.js"></script>
</body>
</html>