---
layout: activity
title : Réseau neuronnal
activityName: KNN
raphael: true
extraScripts:
- /static/js/shared/Blockly/src/blockly_compressed.js
- /static/js/shared/Blockly/src/blocks_compressed.js
- /static/js/shared/Blockly/src/javascript_compressed.js
arbitraryAdditions: >
    <!-- MDBootstrap Datatables  -->
    <link href="js/MDB/datatables.min.css" rel="stylesheet">
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="js/MDB/datatables.min.js"></script>

    <!-- My Scripts -->
    <script src="js/NNDatas.js"></script>
    <script src="js/NN.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">

goalDescription : >
    <p>
        Dans cette activité, un réseau de neurone déjà entrainée t'es donné.<br>
        Comme celui des exercices il ne possède qu'une seule couche cachée, cependant le nombre de neurone est bien plus élevé !
        La première couche est composée de 784 neurones, la couche cachée de 200 neurones et la couche de sortie de 10 neurones.<br>
        Ce réseau de neurone a été entrainé afin de reconnaitre un chiffre (de 0 à 9) d'une image en nuance de gris de dimension 28 x 28.
    </p>
    <p>
        Ton score dépend de la qualité de ton classifieur (ici le réseau de neurone).
        Celui-ci dépend de 2 fonctions que tu devra correctement implémenter :
        <code>gérer la couche d'entrée(image)</code> et <code>prédire valeur(valeur des neurones de la couche de sortie)</code>.<br>
    </p>
    <div class="mx-auto" align="center">
        <img src="/static/img/NN/acti/handleEntryEmpty.svg" class="img-fluid" style="padding-right: 16px">
        <img src="/static/img/NN/acti/handleOutputEmpty.svg" class="img-fluid">
    </div>

    <p>
        Tu auras donc 2 missions dans cette activité.<br>
        Tu devra d'abord gérer correctement les valeurs des neurones d'entrées à partir d'une image en nuance de gris.<br>
        Il faudra aussi que tu gère la dernière couche, pour cela les valeurs des neurones de cette couche te seront données, à toi d'en tirer le chiffre résultant.<br>
        Toute la gestion des calculs entre les couches (produits matriciels, etc.) sont géré automatiquement pour toi, tu n'aura pas à t'en soucier ici ;)
    </p>
    <p>
        Le score augmente chaque fois que ton classifieur trouve le chiffre correspondant à celui de l'image testé.<br>
        Pour atteindre 100%, il faut donc qu'il les classent toutes correctement.
    </p>

goalSteps :
-   title: Bien commencer !
    content: >
        <p>
            Dans la section <code>TODO</code> de la boite à outil de blockly tu trouvera une première implémentation pour les 2 fonctions que tu dois implémenter<br>
            Commence par les prendre et glisse les dans ton code.
        </p>
        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/defaultBlocks.svg" class="img-fluid">
        </div>

        <p>
           Si tu essaye lance la prédiction tu auras normalement un taux de prédiction assez faible, dans les alentours des 10%.<br>
            C'est normal, pour l'instant il est paramétré aléatoirement et comme il y a 10 résultats possibles, il à 10% de chance de réussir pour chaque prédiction.
        </p>

        <div class="mt-2 col-md-12">
            <h6 style="float: left; margin-right: 1em;"> Prédiction courante : </h6>
            <div class="progress" style="height: 32px;">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;">10.00%</div>
            </div>
        </div>
-   title: Implémentation de la fonction pour gérer les valeurs des neurones d'entrées
    content: >
        <p>
            Commencons par gérer correctement les valeurs de nos neurones de la couche d'entrées.
            L'idée de l'implémentation est la même que <a href="exercice#valeur-des-neurones-de-la-premi-re-couche" target="_blank">le premier exercice préparatoire</a>.
        </p>
        <p>
            Cette fonction prends une image en nuance de gris de taille 28 x 28 en argument.<br>
            Le but de cette fonction est d'initialiser la valeur de tout les neurones de la couche d'entrée à partir de la couleur des pixels de l'image.<br>
        </p>
        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/handleEntryDefault.svg" class="img-fluid">
        </div>

        <p>
            Dans l'état présent les 784 neurones de la couche d'entrée sont initialisé aléatoirement sans prendre en compte l'image !<br>
        </p>

        <p>
            Nous sommes cencé attribuer à chaque neurone la valeur de couleur du pixel correspondant de l'image de la même manière que dans <a href="exercice#valeur-des-neurones-de-la-premi-re-couche" target="_blank">le premier exercice préparatoire</a>.<br>
            Avec l'implémentation par défaut et tout les blocs de la section <code>NN Entrée</code> tu as tout le nécessaire pour implémenter la fonction ;). <br>
            Le bloc <img src="/static/img/NN/acti/flattenPicture.svg" class="img-fluid"> te permetra "d'aplatir" une image,
            l'idée étant de transformer l'image originale en 2D de taille 28 x 28 à son équivalent applatie en 1D de taille 784 ($28 \times 28$)
         </p>

        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/flattenExample.png" class="img-fluid"><br>
            <small class="text-muted">Exemple d'aplatisement d'une image en noir et blanc de taille 3 x 3. Le résultat aplatie est une image à 1 dimension de taille 9</small>
        </div>
    help: >
        Voici la structure à suivre pour résoudre cette partie :
        <ol>
            <li>Aplatir l'image et la sauvegarder dans <code>imageAplatie</code></li>
            <li>Pour tout les neurones de 1 à 784 (la longueur de l'image aplatie)</li>
            <li>Donner au neurone d'entrée du numéro courant la valeur du pixel de l'image du numéro courant de l'image aplatie</li>
        </ol>
    correction : >
        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/handleEntryCorection.svg" class="img-fluid"><br>
        </div>
        Cela fonctionne aussi en mettant 784 comme borne de la boucle.
-   title: Implémentation de la fonction pour gérer la conclusion des neurones de sortie
    content: >
        <p>
            La dernière partie de cette activité consiste à déduire une conclusion à partir des valeurs des neurones de sortie.<br>
            L'idée de l'implémentation est la même qu'un des <a href="exercice#tirer-des-conclusions-de-nos-r-sultats" target="_blank">exercice préparatoire</a>.<br>
        </p>
        <p>
            Les valeurs des neurones de sortie sont automatiquement calculé à partir des neurones des autres couches.<br>
            Les neurones de la couche de sortie ont une valeur entre 0 et 1. Leur somme fait toujours 1.<br>
            Les 10 neurones de cette couche représente chaque chiffre de 0 à 9. La valeur du neurone représente la probabilité du chiffre qui lui est associé.<br>
            <small class="text-muted">Par exemple si le 1er neurone à la valeur 0.4, cela signifie qu'il y a 40% de chance que l'image représente le chiffre 0.</small>
        </p>
        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/handleOutputDefault.svg" class="img-fluid">
        </div>

        <p>
            Dans l'état présent c'est le chiffre de probabilité minimale qui est renvoyé. Mais c'est incorrect.<br>
        </p>

    help: >
            Imagine que la valeur des 10 neurones de la couche de sortie soit :
            <ol start="0">
                <li>0.1</li>
                <li>0</li>
                <li>0</li>
                <li>0.7</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0.15</li>
                <li>0</li>
                <li>0.05</li>
            </ol>
            Quel serait le chiffre qui devrait être déduit ?<br>
            <code>3</code>, car il a <b>la plus grande</b> probabilité !
    correction : >
        <div class="mx-auto" align="center">
            <img src="/static/img/NN/acti/handleOutputCorection.svg" class="img-fluid"><br>
        </div>
        Très simple ici, il suffit de changer le "minimum" en "maximum". C'est le chiffre avec la plus grande probabilité qui nous intéresse !
examples:
- content : >
    <p>
        Voici quelques exemples de l'utilisation du programme Blockly.<br>
        Pour tout ses exemple on va supposer que ton <b>implémentation des 2 fonctions dans <code>TODO</code> sont correctes</b>.<br>
        Si ça n'est pas le cas tu auras soit un message d'erreur, soit un message avec un résultat différent.<br>
        N'oublie pas d'utiliser le bouton <button type="button" class="btn btn-warning"><i class="fas fa-bug"></i></button> pour lancer ton code dans cette partie !
    </p>
- title : Reconnaitre le chiffre dans une image avec le réseau de neurone
  content : >
    <p>
        Le bloc <img src="/static/img/NN/acti/classify.svg"> te permet de classifier l'image donné en argument en utilisant le réseau de neurone.<br>
        Tu as également plusieurs images disponible dans la section <code>NN Images</code> que tu peux utiliser avec le bloc précédent afin de vérifier si tes prédictions sont correctes.<br>
    </p>
    <div class="mx-auto" align="center">
        <img src="/static/img/NN/acti/exampleClassify.JPG" class="img-fluid"><br>
        <p class="text-muted">Je demande de classifier une image d'un 2 à mon réseau de neurone et d'afficher le résultat à l'écran.<br>Le résultat affiché dans la boite de dialogue est bien le chiffre annoncé</p>
    </div>

    <p>
        Tu peux aussi dessiner dans le cadre noir à gauche afin qu'il l'utilise comme image.
    </p>
    <div class="mx-auto" align="center">
        <img src="/static/img/NN/acti/exampleClassifyDraw2.JPG" class="img-fluid"><br>
        <p class="text-muted" style="padding-bottom: 32px">Le réseau a bien reconnu mon superbe 2 !</p>
        <img src="/static/img/NN/acti/exampleClassifyDraw3.JPG" class="img-fluid" ><br>
        <p class="text-muted" style="padding-bottom: 32px">Je n'ai rien changé au code! J'ai juste dessiné l'image d'un autre chiffre </p>
        <img src="/static/img/NN/acti/exampleClassifyDrawBG.JPG" class="img-fluid"><br>
        <p class="text-muted">Le réseau de neurone fera toujours de son mieux pour trouver un chiffre dans l'image dessiné...</p>
    </div>
---

<div class="row mt-2 col-md-12">
    <div class="col-sm-4">
        <div>
            <canvas id="can" width="280" height="280" style="top:10%;left:10%;border:2px solid; cursor:crosshair"></canvas>
        </div>

        <div class="container">
            <input type="checkbox" style="transform: scale(1.5);" class="form-check-input" id="preprocessing">
            <label class="form-check-label form-label-lg" for="preprocessing"><i class="fas fa-magic"></i> Afficher l'image transformée</label>
            <div style="visibility: hidden"><input type="checkbox" id="scaleStrokeWidth" checked="true"><span style="margin-left:5px;">Scale Stroke Width</span></div>
            <div style="text-align: center">
                <button type="button" class="btn btn-primary btn-lg" id="recognize" onclick="recognize()"><i class="fas fa-search"></i> Reconnaitre</button><br><br>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modifyWeights"><i class="fas fa-edit"></i> Modifier le réseau</button>
                <button type="button" class="btn btn-warning" onclick="erase()"><i class="fas fa-eraser"></i> Effacer</button>
            </div>
            <div id="nnInput"></div>
        </div>

        <!-- Choose arc modal -->
        <div class="modal fade" id="modifyWeights" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifier le réseau de neuronne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col" align="center">
                                Couche 1<br>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(1, $(layer1spinner).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(1, $(layer1spinner).val(), 'wOut')"><i class="fas fa-sign-out-alt"></i></button>
                                </div>
                                <div>
                                    <div style="padding-top: 20px; padding-bottom: 15px">
                                        <input id="layer1slider" type="text" data-slider-min="0" data-slider-max="783" data-slider-step="1" data-slider-value="0">
                                    </div>
                                    <div class="input-group">
                                        <input id="layer1spinner" type="number" class="form-control" value="0" min="0" max="783" step="1">
                                        <div class="input-group-append">
                                            <span class="input-group-text">/783</span>
                                        </div>
                                    </div>
                                    <script>
                                        $("#layer1slider").slider({
                                            orientation: 'vertical'
                                        });

                                        // Synchronize the value of the spinner and the one of the slider
                                        $("#layer1slider").on("slide", function(slideEvt) {
                                            $("#layer1spinner").val(slideEvt.value);
                                        });

                                        $("#layer1spinner").on("input", function(spinEvent) {
                                            $("#layer1slider").slider('setValue', $("#layer1spinner").val());
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col" align="center">
                                <br>
                                <button type="button" class="btn btn-outline-secondary" onclick="buttonWeightLevelPressed(1,  $(layer1spinner).val(), $(layer1spinner2).val())"><i class="fas fa-arrows-alt-h"></i></button>
                            </div>
                            <div class="col" align="center">
                                Couche 2<br>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'wIn')"><i class="fas fa-sign-in-alt"></i></button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(2, $(layer1spinner2).val(), 'wOut')"><i class="fas fa-sign-out-alt"></i></button>
                                </div>
                                <div>
                                    <div style="padding-top: 20px; padding-bottom: 15px">
                                        <input id="layer1slider2" type="text" data-slider-min="0" data-slider-max="199" data-slider-step="1" data-slider-value="0">
                                    </div>
                                    <div class="input-group">
                                        <input id="layer1spinner2" type="number" class="form-control" value="0" min="0" max="199" step="1">
                                        <div class="input-group-append">
                                            <span class="input-group-text">/199</span>
                                        </div>
                                    </div>
                                    <script>
                                        $("#layer1slider2").slider({
                                            orientation: 'vertical'
                                        });

                                        // Synchronize the value of the spinner and the one of the slider
                                        $("#layer1slider2").on("slide", function(slideEvt) {
                                            $("#layer1spinner2").val(slideEvt.value);
                                        });

                                        $("#layer1spinner2").on("input", function(spinEvent) {
                                            $("#layer1slider2").slider('setValue', $("#layer1spinner").val());
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col" align="center">
                                <br>
                                <button type="button" class="btn btn-outline-secondary" onclick="buttonWeightLevelPressed(2,  $(layer1spinner2).val(), $(layer1spinner3).val())"><i class="fas fa-arrows-alt-h"></i></button>
                            </div>
                            <div class="col" align="center">
                                Couche 3<br>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(3, $(layer1spinner3).val(), 'wIn')"><i class="fas fa-sign-in-alt"></i></button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="buttonNeuronLevelPressed(3, $(layer1spinner3).val(), 'neuron')"><i class="far fa-circle"></i></button>
                                </div>
                                <div>
                                    <div style="padding-top: 20px; padding-bottom: 15px">
                                        <input id="layer1slider3" type="text" data-slider-min="0" data-slider-max="9" data-slider-step="1" data-slider-value="0">
                                    </div>
                                    <div class="input-group">
                                        <input id="layer1spinner3" type="number" class="form-control" value="0" min="0" max="9" step="1">
                                        <div class="input-group-append">
                                            <span class="input-group-text">/9</span>
                                        </div>
                                    </div>
                                    <script>
                                        $("#layer1slider3").slider({
                                            orientation: 'vertical'
                                        });

                                        // Synchronize the value of the spinner and the one of the slider
                                        $("#layer1slider3").on("slide", function(slideEvt) {
                                            $("#layer1spinner3").val(slideEvt.value);
                                        });

                                        $("#layer1spinner3").on("input", function(spinEvent) {
                                            $("#layer1slider3").slider('setValue', $("#layer1spinner").val());
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Outgoing/Ingoing neurons weights modal -->
        <div class="modal fade" id="outWeightModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Poids <span class="inOrOut">de sorties</span> du neurone n°<span class="currentNeuronNumber"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="weightsTable">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Neuron information modal -->
        <div class="modal fade" id="neuronModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Neurone n°<span class="currentNeuronNumber"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Couche : <span class="neuronLayerInfo"></span></p>
                        <div id="neuronModalInformationForSpecificLayers"></div>
                        Valeur : <span id="neuronValueInfo"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Weight information modal -->
        <div class="modal fade" id="weightModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Poids reliant le neuronne <span class="weightN1"></span> et <span class="weightN2"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Couche : <span id="weightLayer"></span></p>
                        <p>Valeur Originale : <span id="weightOrigValue"></span></p>
                        <p>Valeur :
                        <div class="input-group mb-3">
                            <input id="weightValue" type="number" step="0.1" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="$('#weightValue').val(selectedWeight.weight)"><i class="fas fa-undo"></i> Valeur actuelle</button>
                                <button class="btn btn-outline-secondary" type="button" onclick="$('#weightValue').val(selectedWeight.defaultWeight)"><i class="fas fa-redo-alt"></i> Restaurer</button>
                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="selectedWeight.weight = Number($('#weightValue').val());"><i class="fas fa-save"></i> Appliquer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
                    </div>
                </div>
            </div>
        </div>


        <br><br>

        <!--  -->
        <div class="container">
            <div class="row no-gutters">
                {% for i in (0 .. 9) %}
                    <div class="col">
                        <h5 style="padding-left: 5px;">{{ i }}</h5>
                        <div class="progress progress-bar-vertical">
                            <div id="percentBar{{ i }}" class="progress-bar" role="progressbar" style="height: 0%;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <p class="lead">
            Reconnu comme : <span id="nnOut"></span>
        </p>
    </div>


    <div class="col-sm-8">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tabBlockly" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-code"></i> Blockly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabNetworkRepr" role="tab" aria-controls="profile" aria-selected="false">{{ site.algorithms[2].icon }} Réseau</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="height: 100%">
            <!-- Blockly content here -->
            <div class="tab-pane fade show active" id="tabBlockly" role="tabpanel" aria-labelledby="blockly-tab" style="height: 100%">
                <div id="blocklyArea" style="height: 100%">
                    <div id="blocklyDiv" style="width: 100%;height: 100%; min-height: 400px;">
                    </div>
                </div>
            </div>
            <!-- Network representation here -->
            <div class="tab-pane fade" id="tabNetworkRepr" role="tabpanel" aria-labelledby="network-tab">
                <div id="neuralNetworkContainer">
                </div>
                <script src="js/NN_representation.js"></script>
            </div>
        </div>

    </div>

</div>

<script src="js/modalHandler.js"></script>


<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
    {% include NN/toolbox.xml %}
</xml>

<xml xmlns="http://www.w3.org/1999/xhtml" id="startBlocks" style="display: none;">
    <!--
    {% include KNN/startBlocks.xml %}
    -->
</xml>

<script src="/static/js/shared/Blockly/src/blockly_compressed.js"></script>
<script src="/static/js/shared/Blockly/src/blocks_compressed.js"></script>
<script src="/static/js/shared/Blockly/src/javascript_compressed.js"></script>

<script src="/static/js/shared/Blockly/languageCode.js"></script>
<script src="/static/js/shared/Blockly/BlocklyScripts.js"></script>
<script src="js/NNBlocklyFunctions.js"></script>