<p>
    Tout au long des exercices qui vont suivre, on va utiliser le même réseau neuronal.<br>
    Ce réseau a été entrainé pour reconnaitre une ligne verticale d'une ligne horizontale dans une image en noir et blanc de 3x3 pixels.
</p>
    Le réseau est composé de 3 couches :
    <ol>
        <li>
            La première couche est composée de 9 neurones (les 9 pixels de notre image)
        </li>
        <li>
            Nous n'avons qu'une seule couche cachée, composée de 3 neurones
        </li>
        <li>
            Enfin, une couche de sortie composée de 2 neurones, le premier indique si la ligne est reconnue comme verticale, le second comme horizontale
        </li>
    </ol>
    <img id="NNSchema" class="img-fluid mx-auto d-block" src="/static/img/NN/ex/schema.svg">
    <small class="text-muted">Les couleurs dans la grille de gauche sont juste pour que tu comprennes mieux la composition de la première couche. Chaque pixel sera toujours soit blanc, soit noir.</small>
<p>
    Si notre réseau a été bien entrainé, si les pixels 1, 3, 4, 6, 7 et 9 sont blancs et 2, 5 et 8 sont noirs, par exemple, notre réseau devrait reconnaitre une ligne verticale.
</p>
