<html lang="fr">
<head>
    {% if page.title %}<title>{{ page.title }}</title>{% endif %}
    {% include head.html %}
    {% include table_content.html %}
    <script src="/static/js/contentForTeacher.js"></script>
    <script src="/static/js/automaticCorrection.js"></script>

</head>


<body data-spy="scroll" data-target="#toc">
{% include nav.html %}

<main role="main" class="container" style="max-width: 95%">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <div class="sticky-top" style="padding-top:64px">
                <nav id="toc" data-toggle="toc" style="padding-bottom: 32px" ></nav>
                <div id="pinnableArea" class="card d-none d-sm-block" style="overflow: auto;max-height: 400px">
                    <div class="text-muted" style="text-align: center">
                        Utilise le bouton avec l'icone <br>
                        <i style="font-size: 24px" class="fas fa-thumbtack"></i> <br>
                        pour épingler des éléments ici
                    </div>
                </div>
            </div>
        </div>

        <!-- main content area -->
        <div class="col-sm-9">
            <main role="main" class="container">
                {{ content }}
            </main>
            {% include automaticAlgoPagination.html %}
        </div>

    </div>
</main>

{% include enlargeImage.html %}
{% include smoothScrollOnAnchor.html %}
<script>

    function pinElementTransformation(elem) {
        elem.find("table").addBack('table').addClass("table-sm"); // Reduce table size
        elem.find("img").addBack('img')
            .click(imgOnClick); // Possible to enlarge the picture
            //.css("height", "100%"); // Scale the image (keeping aspect ratio)
        elem.each(function () {
            this.removeAttribute('id');
        })
    }

    function pin(elem) {
        let target = $('#pinnableArea');
        target.empty();

        let elementToCopy;
        elementToCopy = $(elem).clone(); // Convert to jQueryobject
        pinElementTransformation(elementToCopy);
        target.html(elementToCopy);
    }

    // Pinable area check
    let pinnableElements = $(".pinnable");
    if (pinnableElements.length === 0) { // If there is nothing to pin, delete the area
        $("#pinnableArea").remove();
    }
    else {
        /*
        <div class="float-right">
            <button type="button" onclick="pin(this.parentElement.nextElementSibling)" class="btn btn-info"><i class="fas fa-thumbtack"></i></button>
        </div>
        */
        pinnableElements.each(function() {
            let pinDiv = $("<div>").addClass("float-right d-none d-sm-block");
            let pinButton = $("<button><i class='fas fa-thumbtack'></i></button>")
                .addClass("btn btn-info");
            pinDiv.append(pinButton);
            pinButton.click(() => {pin(this)}); // Pin the object itself, not the pin button
            pinDiv.insertBefore(this);
        });
    }
</script>
</body>
</html>