<html lang="fr">
<head>
    {% if page.title %}<title>{{ page.title }}</title>{% endif %}
    {% include head.html %}
    {% include table_content.html %}
    <script src="/static/js/contentForTeacher.js"></script>
    <script src="/static/js/automaticCorrection.js"></script>

</head>


<body data-spy="scroll" data-target="#toc">
{% include nav.html %}

<main role="main" class="container" style="max-width: 95%">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <div class="sticky-top" style="padding-top:64px">
                <nav id="toc" data-toggle="toc" style="padding-bottom: 32px" ></nav>
                <div id="pinnableArea" class="card" style="overflow: auto;height: 400px">
                    <div class="text-muted" style="text-align: center">
                        Utilise le bouton avec l'icone <br>
                        <i style="font-size: 18px" class="fas fa-thumbtack"></i> <br>
                        pour épingler des éléments ici
                    </div>
                </div>
            </div>
        </div>

        <script>
            function pin(elem) {
                let target = $('#pinnableArea');
                target.empty();

                let elementToCopy = elem.clone();
                // TODO : delete all id into the clone to avoid duplicates (if href or whatever)
                target.html(elementToCopy);
            }
        </script>

        <!-- main content area -->
        <div class="col-sm-9">
            <main role="main" class="container">
                {{ content }}
            </main>
            {% include automaticAlgoPagination.html %}
        </div>

    </div>
</main>

{% include enlargeImage.html %}
<script src="/static/js/enlargeImageModal.js"></script>
</body>
</html>