<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}

    <!-- Raphael -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"> </script>

    <!-- Plotlyjs -->
    <script type="text/javascript" src="/static/js/shared/plotlyjs-bundle.js"></script>
    <script type="text/javascript" src="/static/js/shared/figure.js"></script>
    <script type="text/javascript" src="/static/js/shared/plotInteraction.js"></script>
    <script type="text/javascript" src="customJS/plotInteraction.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>
</head>

<body>
{% include nav.html %}
<main role="main" class="container" style="max-width: 95%">
    <h1>Arbre de décision intéractif</h1>

    <div class="row mt-2 col-md-12">
        <!-- Graphe, tableau dynamique, etc -->
        <div class="col-sm-4">
            <div id="graphContainer" class="container plotly-graph-div">
            </div>
        </div>

        <!-- Visualisation graphique -->
        <div id="treeContainer" class="col-sm-8">
        </div>
    </div>
</main>

<!-- Modal asking inputs for nodes -->
<div class="modal fade" id="askParameters" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalParametersTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <select class="form-control" id="axisChoice">
                        <option>petal length</option>
                        <option>petal width</option>
                    </select>
                    <select class="form-control" id="operationChoice" >
                        <option value=1>=</option>
                        <option value=2>&ne;</option>
                        <option value=3>&gt;</option>
                        <option value=4>&ge;</option>
                        <option value=5>&lt;</option>
                        <option value=6>&le;</option>
                    </select>
                    <input type="number" id="valueChoice" class="form-control" value="0" step="0.1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="deleteButton" data-dismiss="modal" onclick="BT.deleteNode()">Supprimer</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="BT.parseAskParametersValues()">Sauver</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/shared/iris.js"></script>
<script src="customJS/BinaryTree.js"></script>
<script src="/static/js/shared/plot.js"></script>
<script>
    let treeContainer = document.getElementById("treeContainer");

    function resizeTreeCanva() {
        let containerWidth = treeContainer.offsetWidth;
        let containerHeight = treeContainer.offsetHeight;
        canvaSizeChange(containerWidth, containerHeight);
    }

    $(window).ready(function () {
        resizeTreeCanva();
    });
    $(window).resize(function() {
        resizeTreeCanva();
    });
</script>
</body>
</html>