<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
    {% include table_content.html %}
    <script src="/static/js/contentForTeacher.js"></script>
</head>

<body data-spy="scroll" data-target="#toc">
{% include nav.html %}
<div class="container">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
            <main role="main" class="container">


                <h1>Exercices préparatoires pour l'arbre de décisions</h1>

                <h2>Définition</h2>
                <p>
                    Un arbre de décision est un outil d'aide à la décision représentant un ensemble de choix sous la forme graphique d'un arbre.
                    Les différentes décisions possibles sont situées aux extrémités des branches (les « feuilles » de l'arbre),
                    et sont atteints en fonction de décisions prises à chaque étape.<br>
                    On va simplifier ici sa représentation visuelle, chaque décision sera toujours répondu par « oui » ou « non ».
                </p>

                <h2>Exemple</h2>

                <p>
                    Prenons ce tableau avec ses quelques caractéristiques pour 4 fruits distincts :
                </p>
                <table class="table table-hover" id="tableExample">
                    <thead>
                    <tr>
                        <th scope="col">Classe</th>
                        <th scope="col">Forme</th>
                        <th scope="col">Couleur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">Banane</td>
                        <td>Courbé</td>
                        <td>Jaune</td>
                    </tr>
                    <tr >
                        <td scope="row">Pomme</td>
                        <td>Ronde</td>
                        <td>Rouge</td>
                    </tr>
                    <tr >
                        <td scope="row">Orange</td>
                        <td>Ronde</td>
                        <td>Orange</td>
                    </tr>
                    <tr>
                        <td scope="row">Citron</td>
                        <td>Ronde</td>
                        <td>Jaune</td>
                    </tr>
                    </tbody>
                    <caption>Tableau 1 : Exemple de fruits avec différentes caractéristiques (forme et couleur)</caption>
                </table>

                <p>
                    On peut à partir du tableau construire un arbre de décision comme celui-ci à partir des questions suivantes :
                </p>
                <ul>
                    <li>Forme ronde ?</li>
                    <ul>
                        <li>Couleur rouge ? (pour la branche "oui")</li>
                    </ul>
                </ul>
                <img src="/static/img/arbre/arbreExemple.PNG" class="img-fluid">
                <small class="text-muted">
                    La première question que je pose est de savoir si la forme est ronde ou pas.
                    Si c’est le cas, on sait d’office que ça n'est pas une banane
                    (car c’est le seul fruit qui n'est pas rond dans notre exemple).<br>
                    Sachant qu’il n’est pas rond on aimerait savoir s’il est rouge,
                    si c’est le cas on sait que c’est une pomme,
                    mais si ça n’est pas le cas c’est soit une orange soit un citron.
                </small>
                <p>
                    Pour le reste des exercices tu n'est pas obligé de le dessiner de manière aussi rigoureuse, respecte juste les conventions suivantes :
                </p>
                <ul>
                    <li>L'arbre "évolue" vers le bas</li>
                    <li>La branche de gauche représentera toujours la réponse « oui » et celle de droite la réponse « non »</li>
                    <li>Les questions sont formulés dans des cadre rectangulaire</li>
                    <li>Les feuilles de l'arbre sont dans des cadres ovale</li>
                    <li>Indiquer entre parenthèse les % pour toute les feuilles</li>
                </ul>
                <p>Avec cette convention l'exemple précédent peut être redessiné comme cela également : </p>
                <img src="/static/img/arbre/arbreExMain.png" class="img-fluid">

                <h2>Exercices</h2>
                <h3>Exercice 1 : Construire un arbre de décision</h3>
                <p>
                    En utilisant le <a href="#tableExample">tableau précédent</a> construit l’arbre et donne les résultats de chaque feuille en partant de gauche à droite pour les questions suivantes :
                </p>

                <ul>
                    <li>Couleur orange ?</li>
                    <ul>
                        <li>Forme Courbé ? (pour la branche "non")</li>
                    </ul>
                </ul>

                {% answer %}
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th scope="col">Feuille</th>
                        <th scope="col">Banane</th>
                        <th scope="col">Pomme</th>
                        <th scope="col">Orange</th>
                        <th scope="col">Citron</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in (1..3) %} <!-- Nombre de feuilles -->
                    <tr>
                        <th scope="row">{{ i }}</th>
                        {% for j in (1..4) %} <!-- 4 fruits -->
                        <td>
                            <div class="input-group">
                                <input type="number" min="0" max="100" value="0" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endanswer %}

                {% correction %}
                <img src="/static/img/arbre/ex1corr1.PNG" class="img-fluid">
                {% endcorrection %}


                <ul>
                    <li>Couleur jaune ?</li>
                    <ul>
                        <li>Forme Courbé ? (pour la branche "oui")</li>
                        <li>Couleur orange ? (pour la branche "non")</li>
                    </ul>
                </ul>

                {% answer %}
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th scope="col">Feuille</th>
                        <th scope="col">Banane</th>
                        <th scope="col">Pomme</th>
                        <th scope="col">Orange</th>
                        <th scope="col">Citron</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in (1..4) %} <!-- Nombre de feuilles -->
                    <tr>
                        <th scope="row">{{ i }}</th>
                        {% for j in (1..4) %} <!-- 4 fruits -->
                        <td>
                            <div class="input-group">
                                <input type="number" min="0" max="100" value="0" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endanswer %}

                {% correction %}
                <img src="/static/img/arbre/ex1corr2.PNG" class="img-fluid">
                {% endcorrection %}


                <ul>
                    <li>Couleur rose ?</li>
                    <ul>
                        <li>Forme hélicoïdale ? (pour la branche "non")</li>
                        <ul>
                            <li>Couleur bleue ? (pour la branche "non")</li>
                        </ul>
                    </ul>
                </ul>

                {% answer %}
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th scope="col">Feuille</th>
                        <th scope="col">Banane</th>
                        <th scope="col">Pomme</th>
                        <th scope="col">Orange</th>
                        <th scope="col">Citron</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in (1..1) %} <!-- Nombre de feuilles -->
                    <tr>
                        <th scope="row">{{ i }}</th>
                        {% for j in (1..4) %} <!-- 4 fruits -->
                        <td>
                            <div class="input-group">
                                <input type="number" min="0" max="100" value="0" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endanswer %}

                {% correction %}
                <img src="/static/img/arbre/ex1corr3.PNG" class="img-fluid">
                {% endcorrection %}


                <p>
                    D'après les différents arbres que tu as dessiné dans cet exercice, répond aux questions suivantes :
                </p>

                <p>
                    Quel arbre serai le plus adapté pour différencier une pomme d’un citron ? Justifie ton choix :
                </p>

                {% answer %}
                <div class="form-group">
                    <select class="form-control">
                        <option>Arbre 1</option>
                        <option>Arbre 2</option>
                        <option>Arbre 3</option>
                    </select>
                    <label for="repEx1-1"></label>
                    <textarea class="form-control" rows="4" id="repEx1-1"></textarea>
                </div>
                {% endanswer %}

                {% correction %}
                Le 2eme arbre est plus adapté que les autres pour différencier une pomme d’un citron.<br>
                Les questions/décisions du premier ne permettent pas de distinguer les 2 fruits (ils sont tout les 2 pas orange ni courbé).
                Le dernier arbre est encore pire, on ne peut y distinguer aucun fruit !
                {% endcorrection %}
            </main>
        </div>
    </div>
</div>

{% include enlargeImage.html %}
</body>

</html>