<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
    {% include table_content.html %}
</head>

<body data-spy="scroll" data-target="#toc">
{% include nav.html %}
<div class="container">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
            <main role="main" class="container">


                <h1>Implémentation sur Blockly de la méthode des K plus proche voisins</h1>

                <p>
                    Maintenant que nous avons une bonne compréhension et intuition de l’algorithme des K plus proche voisins nous allons le mettre en pratique à l’aide de Blockly.
                </p>

                <h2>Blocs supplémentaires</h2>
                <p>
                    Beaucoup de concept vus précédemment ont étaient déjà implémenté pour toi.
                    Nous te donnons déjà implémenté et fonctionnels les blocs suivants :
                </p>


            </main>
        </div>
    </div>
</div>


</body>

</html>