<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
</head>

<body>
{% include nav.html %}
<main role="main" class="container">
    <h1>Méthodes des K plus proches voisins</h1>

    <div class="container">
        <img class="img-fluid" src="/img/KNN.svg" alt="KNN">
    </div>

    <a class="btn btn-primary" href="ex-preparatoires" role="button">Exercices préparatoires</a>
    <a class="btn btn-primary" href="blockly" role="button">Phase pratique (Blockly)</a>
</main>
</body>

</html>